:root {
  --header-footer: #fda8df;
  --small-header-colour: #783a77;
  --third-colour: #008080;
  --text-colour: #fdfafa;
  --blog-one: #945393;
  --blog-two: #4da6a6;
  --blog-three: #d56daa;
}
.container {
  max-width: 960px;
  border: 1px solid var(--third-colour);
  padding: 0;
  letter-spacing: 0.1rem;
  color: var(--text-colour);
}
.content-box {
  border-radius: 20px;
  margin: 10px;
  padding: 15px 25px;
}
header,
footer {
  background-color: var(--header-footer);
  width: 100%;
}
header {
  height: 175px;
}
footer {
  height: 80px;
}
footer a {
  padding: 0 15px;
  color: var(--text-colour);
}
.logo {
  height: 150px;
  display: block;
  margin: 0 auto;
}
.date {
  margin: 0;
  padding: 0 15px 20px;
  text-align: right;
  font-size: 20px;
}
.newsletter {
  padding: 20px;
  margin: 20px;
}
.welcome {
  font-size: 20px;
  color: var(--small-header-colour);
  padding: 0;
  margin: 0;
}
.month {
  font-size: 75px;
  color: #7c6abe;
  padding: 0;
}
.curation {
  color: var(--third-colour);
  font-size: 20px;
}
h2,
h3,
h4 {
  text-align: center;
}
.hello {
  color: var(--text-colour);
  font-size: 30px;
}
.newsletter-codirector {
  height: 170px;

  border-radius: 50%;
  display: block;
  margin: auto;
}
.co-director {
  text-align: center;
  font-weight: bold;
}
.message {
  color: var(--text-colour);
  font-weight: bold;
}
.intro-message {
  background-color: #8e82b8;
}
.lizzie-letter {
  color: var(--text-colour);
  font-style: italic;
  font-weight: bold;
}
.inaugural,
.group {
  max-block-size: 300px;
}
.socialmedia {
  color: var(--third-colour);
  font-weight: bold;
}
.socialmedia h2 {
  text-align: left;
}
.socialmedia ul {
  margin-top: 0;
  padding-left: 100px;
}
.socialmedia li {
  list-style: none;
  margin: 30px 0;
  font-size: larger;
}
.socialmedia i {
  padding-right: 20px;
}
.socialmedia img {
  height: 300px;
}
.awards {
  background-color: #4f447b;
}
.winners ul {
  list-style: none;
  padding: 0;
}
.winners1 {
  height: 400px;
  display: block;
  margin: 0 auto;
}
.volunteer-winner {
  width: 600px;
  display: block;
  margin: 5px auto;
}
.socials {
  background-color: #419595;
}
.mh {
  height: 350px;
}
.blog,
.review {
  background-color: var(--blog-one);
}
.reality {
  background-color: var(--blog-two);
}
.research {
  background-color: var(--blog-three);
}
.blog,
.contact-blog {
  text-align: center;
}
.contact-blog,
.contact-blog a {
  color: var(--small-header-colour);
}
.month-in-review {
  background-color: #f7f2f5;
  color: #613c61;
}
.month-in-review h3 {
  color: var(--third-colour);
}
.first {
  background-color: #efc4dd;
}
.second {
  background-color: #c4cfec;
}
.third {
  background-color: #ceb0cd;
}
.third a {
  color: #613c61;
}
.one {
  background-color: #89bfc1;
}
.two {
  background-color: #aacbdf;
}
a {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-colour);
}

@media (max-width: 570px) {
  .container {
    letter-spacing: normal;
  }
  .date {
    font-size: 17px;
  }

  .month {
    font-size: 40px;
  }
  .welcome {
    font-size: 15px;
  }

  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }

  .socialmedia ul {
    font-size: 15px;
    padding: 0 0 0 25px;
  }
  .socialmedia img {
    display: block;
    margin: auto;
  }
  .content-box {
    width: 100%;
    margin: 15px AUTO;
  }
}
